<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="refresh" content="30">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Parse Probes</title>
	</head>
	<body>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--	        
		<nav class="navbar navbar-dark bg-primary">
			<img src="{{ url_for('static', filename='images/icon.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">ParseProbes
		</nav>-->
		<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
				<img alt="ParseProbes" src="{{ url_for('static', filename='images/icon.svg') }}" width="30" height="30" class="d-inline-block align-top">
			</a><h3>ParseProbes</h3>
                    </div>
                </div>
                </nav>
		
		{% block body_content %}
	        {% endblock %}
	</body>
</html>
