{% extends "base.html"  %}

{% block body_content %}

<div class="container">

    <form action={{url_for('filterDistances')}} method="POST">
    <div class="row form-group">
        <div class="col-sm-6">
            <label for="datetimepicker1">First Seen After</label>
            <div class='input-group date' id="inputMinSeen">
	        <input type='text' class="form-control" name="inputMinSeen"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <p><p>
            <label for="datetimepicker2">First Seen Before</label>
            <div class='input-group date' id="inputMaxSeen">
		 <input type='text' class="form-control" name="inputMaxSeen"/>
                 <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row form-group">
	<div class="col-sm-3">
            <label for="inputMinDist">Minimum Distance</label>
	    <p>
	    <input type="text" name="inputMinDist" placeholder="{{ min_dist }}">
	    <p><p>
	    <label for="inputMaxDist">Maximum Distance</label>
	    <p>
	    <input type="text" name="inputMaxDist" placeholder="{{ max_dist }}">
	</div>
	<div class="col-sm-3">
	    <label for="inputMinBeacons">Minimum Beacons</label>
	    <p>
	    <input type="text" name="inputMinBeacons" placeholder="{{ min_beacons }}">
	    <p><p>
	    <label for="inputMaxBeacons">Maximum Beacons</label>
	    <p>
	    <input type="text" name="inputMaxBeacons" placeholder="{{ max_beacons }}">
	</div>
	<div class="col-sm-3">
	    <label for="inputMinDuration">Minimum Duration</label>
	    <p>
	    <input type="text" name="inputMinDuration" placeholder="{{ min_duration }}">
	    <p><p>
	    <label for="inputMaxDuration">Maximum Duration</label>
	    <p>
	    <input type="text" name="inputMaxDuration" placeholder="{{ max_duration }}">
	</div>
    <!-- Filter row -->
    </div>
    <div class="row form-group">
	<div class="col-sm-2">
	    <input class="btn btn-danger" type="submit" value="Apply Variable Filters">
	</div>
    <!-- Button row-->
    </div>
    </form>
    <div class="row form-group">
	<div class="col-sm-2">
            <a class="btn btn-danger pull-left" 
	        href={{url_for('filterClient', filterMac='clear_list')}} 
	        role="button">Clear Client Filter ({{ filter_list|length }})
            </a>
	</div>
    </div>


    <h2>Discovered {{ client_list|length }} clients.</h2>

    <div class="row form-group">
		{% set res = {'nres':0}  %}
	{% for client in client_list.items() %}
		{% if client[1]['vectors'][-1][-1] <= max_dist 
	   	and client[1]['vectors'][-1][-1] >= min_dist
	   	and client[1]['beacons'] >= min_beacons
		and client[1]['beacons'] <= max_beacons
		and client[0] not in filter_list 
		and client[1]['firstEpoch'] >= min_seen
	        and client[1]['firstEpoch'] <= max_seen 
		and client[1]['duration'] >= min_duration
		and client[1]['duration'] <= max_duration %}

		{% if res.update({'nres': res.nres + 1})  %}{% endif %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between list-group-item-info">
                <span class="badge badge-default badge-pill">{{client[1]['ssids']|length}}</span>
		Client MAC: {{client[0]}}
		<p>
		Last distance: {{client[1]['vectors'][-1][-1]}}m
		<br>
		First seen: {{client[1]['firstSeen']}}
		<br>
		Last seen: {{client[1]['lastSeen']}}
		<br>
		Duration: {{client[1]['duration']}} seconds
		<br>
		Beacons: {{client[1]['beacons']}}
		<a class="btn btn-danger pull-right" 
		   href={{url_for('filterClient', filterMac=client[0])}} 
		   role="button">Filter</a>
                <a class="btn btn-primary pull-right" 
		   href={{url_for('vectors', clientMac=client[0])}} 
		   role="button">Vectors</a>
                </li>
		{% for ssid in client[1]['ssids'] %}
                {% if ssid != "BROADCAST PROBE" %}
                <li class="list-group-item">{{ssid.encode("string-escape")}}</li>
                {% endif %}
                {% endfor %}
            </ul>
	    {% endif %}
        {% endfor %}
	<h2>{{ res.nres }} filtered results.</h2>

    </div>
<!-- Container-->    
</div>

<!--

<div class="row">
	<h2>Discovered {{ client_list|length }} clients.</h2>
	<div class="col-sm-12">
		<a class="btn btn-danger pull-left" 
			href={{url_for('filterClient', filterMac='clear_list')}} 
			role="button">Clear Client Filter ({{ filter_list|length }})
		</a>
	</div>
	<p>
     <div class="row">
        <div class="col-sm-11">
		<br>

		{% set res = {'nres':0}  %}
	{% for client in client_list.items() %}
		{% if client[1]['vectors'][-1][1] <= max_dist 
	   	and client[1]['vectors'][-1][1] >= min_dist
	   	and client[1]['beacons'] >= min_beacons
		and client[1]['beacons'] <= max_beacons
		and client[0] not in filter_list %}

		{% if res.update({'nres': res.nres + 1})  %}{% endif %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between list-group-item-info">
                <span class="badge badge-default badge-pill">{{client[1]['ssids']|length}}</span>
		Client MAC: {{client[0]}}
		<p>
		Last distance: {{client[1]['vectors'][-1][1]}}m
		<br>
		First seen: {{client[1]['firstSeen']}}
		<br>
		Last seen: {{client[1]['vectors'][-1][0]}}
		<br>
		Duration: {{client[1]['duration']}} seconds
		<br>
		Beacons: {{client[1]['beacons']}}
		<a class="btn btn-danger pull-right" 
		   href={{url_for('filterClient', filterMac=client[0])}} 
		   role="button">Filter</a>
                <a class="btn btn-primary pull-right" 
		   href={{url_for('vectors', clientMac=client[0])}} 
		   role="button">Vectors</a>
                </li>
		{% for ssid in client[1]['ssids'] %}
                {% if ssid != "BROADCAST PROBE" %}
                <li class="list-group-item">{{ssid.encode("string-escape")}}</li>
                {% endif %}
                {% endfor %}
            </ul>
	    {% endif %}
        {% endfor %}
	<h2>{{ res.nres }} filtered results.</h2>
        </div>
    </div>
</div>
-->
<script type="text/javascript">
	$('#inputMinSeen').datetimepicker({
  		allowInputToggle: true
	});
</script>
<script type="text/javascript">
	$('#inputMaxSeen').datetimepicker({
  		allowInputToggle: true
	});
</script>

{% endblock %}
